


nav{
  
    padding: 1rem;
    background-color: #3f4a5a;

 

}

.navLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.links{
    text-decoration: none;
    color: #ffffff;
    padding: .5rem 4rem;
    font-size: 1.5rem;
 
    
}
 .active{
    color: #fd4d4d;
    
   
}

nav li{
    list-style: none;
   
}